# User information. Replace with your own data, obviously.
[user]
	name = Jens Hoffmann
#	email = jens.hoffmann@trust2core.de
[branch]
	autosetupmerge = true
	autosetuprebase = always
[push]
	default = current
[merge]
	summary = true
	tool = bc4
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
	autocrlf = input
	editor = vim
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	dc = diff --cached
	lol = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls = ls-files
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
    remotes = !git remote -v |awk '{ if (NR % 2 ==0)  print $1\" \" $2}'
    conflicts = diff --name-only --diff-filter=U
[mergetool]
	keepBackup = true
	bc4 = trustExitCode
[diff]
	tool = bc4
[difftool "bc4"]
	cmd = bcompare \"$LOCAL\" \"$REMOTE\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "bc4"]
	cmd = bcompare \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[mergetool "cp"]
	cmd = /bin/cp -v \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
