# User information. Replace with your own data, obviously.
[include]
    path = ~/.gitconfig_user
[branch]
    autosetupmerge = true
    autosetuprebase = always
[fetch]
    prune = true
[rerere]
    enabled = true
[pull]
    rebase = true
[push]
    default = current
[rebase]
    abbreviateCommands = true
    autoSquash = true
    autoStash = true
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = "red bold"
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
    editor = vim
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    conflicts = diff --name-only --diff-filter=U
    df = diff
    dc = diff --cached
    lol = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ls = ls-files
    remotes = !git remote -v |awk '{ if (NR % 2 ==0)  print $1\" \" $2}'
    pushf = push --force-with-lease
    unstage = reset HEAD --
[merge]
    summary = true
[mergetool]
    keepBackup = true
[diff]
    indentHeuristic = on
[difftool]
    prompt = false
