# User information. Replace with your own data, obviously.
[include]
    path = ~/.gitconfig_user

[branch]
    autosetupmerge = true
    autosetuprebase = always

[fetch]
    prune = true

[rerere]
    enabled = true

[pull]
    rebase = true

[push]
    default = current

[rebase]
    abbreviateCommands = true
    autoSquash = true
    autoStash = true

[core]
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
    editor = vim
    pager = delta --dark

[delta]
    features = zebra-dark
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    conflicts = diff --name-only --diff-filter=U
    df = diff
    dc = diff --cached
    lol = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ls = ls-files
    remotes = !git remote -v |awk '{ if (NR % 2 ==0)  print $1\" \" $2}'
    pushf = push --force-with-lease
    unstage = reset HEAD --

[merge]
    summary = true
    conflictstyle = diff3

[diff]
    colorMoved = default

[mergetool]
    keepBackup = true

[difftool]
    prompt = false
