# OS generated
.DS_Store
.DS_Store?
._.DS_Store
.Spotlight-V100
.Trashes
.Thumbs.db

# eclipse stuff
.cproject
.project
.settings
.jupite
.autotools

# idea, clion....
cmake-build*

#vscode
.vscode

# indices
.tags*
tags
TAGS
cscope.*

# vim
*.swp

# ignored apps
repo

.autoenv.*

